{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Restaurant{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    {% block extra_css %}{% endblock %}
</head>
<body>
    <header>
        <h1>Welcome to my Restaurant!</h1>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'menu' %}">Menu</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="{% url 'book' %}">Book a Table</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        
        
        
        {% endblock %}
    </main>
    <footer>
        <p>&copy; 2024 My Restaurant.</p>
    </footer>
</body>
</html>
